.proof-space {
	margin-top: 1em;
}
.col-xs-12.no-padding-left {
	padding-left:0;
}

.col-xs-12.no-padding-right {
	padding-right:0;
}

// .line-bottom{
//     display:flex;
// 		flex-wrap:nowrap;
// }
.proof {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 6px;
	font-style: normal;
	background-color:black;
}
