.proof-space {
	margin-top: 1em;
}
.col-xs-12.no-padding-left {
	padding-left:0;
}

.col-xs-12.no-padding-right {
	padding-right:0;
}

.border-bottom{
    border-bottom: dotted black;
}
.proof {
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
	font-size: 14px;
	font-style: normal;
}