.payment-button.fa-money{
	margin: 0 8px;
	font-size:20px;

}

.consult-button.fa-book{
 	font-size: 20px ;
}


.loans-search.fa-search{
	font-size:20px;
}

.search-input {
	display:inline;
}

.proof-paid-out {
	background-color:#5cb85c;
	.fa {
		color:#f9f9f9;
	}

}