body {
	font-size: 20px;
}
.payment-button.fa-money{
	margin: 0 8px;
	font-size:55px;

}

.consult-button.fa-book{
 	font-size: 55px ;
}


.loans-search.fa-search{
	font-size:20px;
}

.search-input {
	display:inline;
}

.proof-paid-out {
	background-color:#5cb85c;
	.fa {
		color:black;
	}

}


.loans-table {
	font-size: 40px;
}
